.advantages {
  background-color: @primary-color;
}

.advantages__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: @text-color;
  text-align: center;
  background-color: @primary-color;
}

.advantages__text--bottom {
  margin-top: -14px;
  padding-bottom: 26px;
}

.advantages__wrapper {
  width: 320px;
  background-color: @bg-blue;
}

.advantages__list {
  .list-reset();
  .white-background();
  box-sizing: border-box;
  padding: 30px;
  padding-top: 67px;
  background-color: @bg-blue;
}

.advantages__item {
  margin-bottom: 31px;
}

.advantages__item:last-child {
  margin-bottom: -4px;
}

.advantages__title {
  margin-bottom: -2px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: @black-three;
  text-align: center;
}

.advantages__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @text-color;
  text-align: center;
}

.advantages__image {
  display: block;
  width: 157px;
  height: 280px;
  margin: 0 auto;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 157px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 314px auto;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    width: @tablet-width;
  }

  .advantages__text {
    width: 587px;
    margin: 0 auto;
    margin-top: 44px;
    padding: 0;
    font-size: 40px;
    line-height: normal;
  }

  .advantages__text--bottom {
    width: 500px;
    margin-top: -5px;
    padding: 0;
    padding-bottom: 48px;
    line-height: 50px;
  }

  .advantages__wrapper {
    .white-background();
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 660px;
    margin: 0;
    background-color: @bg-blue;
    background-position: 0 -44px;
  }

  .advantages__list {
    .list-reset();
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 310px;
    margin: 0;
    margin-top: 60px;
    margin-right: 22px;
    padding: 0;
    background-color: @bg-blue;
    background-image: none;
  }

  .advantages__item {
    display: block;
    margin: 0;
    padding: 0;
  }

  .advantages__title {
    display: block;
    margin: 0;
    margin-bottom: 11px;
    padding: 0;
    text-align: left;
  }

  .advantages__description {
    display: block;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    text-align: left;
  }

  .advantages__image {
    display: block;
    width: 268px;
    height: 481px;
    margin: 0;
    margin-left: 20px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 268px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 536px auto;
    }
  }
}

@media (min-width: @min-desktop-width) {
  .advantages {
    width: @desktop-width;
  }

  .advantages__text {
    width: 735px;
    padding-top: 16px;
    font-size: 50px;
  }

  .advantages__text--bottom {
    width: 500px;
    margin-top: 2px;
    padding: 0;
    padding-bottom: 74px;
    line-height: 57px;
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    background-color: @bg-blue;
  }

  .advantages__list {
    .list-reset();
    .white-background();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: @desktop-width;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 130px;
    padding-right: 130px;
    background-color: @bg-blue;
    background-position: 0 0;
  }

  .advantages__item {
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .advantages__title {
    display: block;
    width: 240px;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__description {
    display: block;
    width: 245px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__image {
    display: none;
  }

  .advantages__item-first {
    display: block;
    width: 300px;
    height: 307px;
    margin: 0;
    padding: 0;
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 292px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 584px auto;
    }
  }

  .advantages__item-second {
    display: block;
    width: 300px;
    height: 307px;
    margin: 0;
    padding: 0;
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 292px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 584px auto;
    }
  }

  .advantages__item-third {
    display: block;
    width: 300px;
    height: 307px;
    margin: 0;
    padding: 0;
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 292px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 584px auto;
    }
  }
}
