.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  margin: 0 auto;
}

.developer__text {
  display: block;
  width: 86px;
  margin-top: 13px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-color;
  text-align: left;
}

.developer__link {
  width: 27px;
  height: 34px;
  margin: 0;
  padding: 0;
}

.developer__image {
  width: 27px;
  height: 34px;
  fill: @contrast-color;

  &:hover {
    fill: @text-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .developer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @min-desktop-width) {
  .developer {
    width: 153px;
  }

  .developer__text {
    width: 111px;
    font-size: 18px;
    line-height: 18px;
  }
}
