.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  margin: 0 auto;
}

.developer__text {
  display: block;
  width: 86px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-color;
  text-align: left;
}

.developer__link {
  margin: 0;
  padding: 0;
}

.developer__image {
  width: 41px;
  margin: 0;
  margin-top: 15px;
  padding: 0;

  &:hover path {
    fill: @text-color;
  }

  &:active path {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .developer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 132px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .developer {
    width: 157px;
  }

  .developer__text {
    width: 111px;
    font-size: 18px;
    line-height: 18px;
  }
}
