.download {
  width: @mobile-width;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 30px;
  background-color: @bg-color;
}

.download__download-button {
  display: block;
  width: 281px;
  height: 55px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @primary-color;
  text-align: center;
  text-decoration: none;
  border: 3px solid @primary-color;
  border-radius: 25px;

  &:hover {
    color: @contrast-color;
    background-color: @primary-color;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.download__list {
  width: 200px;
  .list-reset();
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 23px;
}

.download__intro {
  display: block;
  width: 230px;
  margin: 0 auto;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @primary-color;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .download {
    display: block;
    width: 300px;
    margin-top: -373px;
    margin-left: 20px;
    padding-bottom: 112px;
    background-color: transparent;
  }

  .download__download-button {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 55px;
    margin: 0 auto;
    margin-top: -7px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 17px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: @primary-color;
    text-align: center;
    text-decoration: none;
    border: 3px solid @primary-color;
    border-radius: 25px;
  }

  .download__list {
    margin: 0;
    margin-top: 48px;
    margin-bottom: 36px;
    margin-left: 45px;
  }

  .download__intro {
    width: 300px;
    font-size: 18px;
  }
}

@media (min-width: @min-desktop-width) {
  .download {
    margin-top: -400px;
    margin-left: 130px;
    padding-top: 51px;
    padding-bottom: 125px;
  }

  .download__download-button {
    margin-top: -80px;
    font-size: 21px;
  }

  .download__intro {
    padding-top: 18px;
  }
}
