.main-nav {
  background-color: @bgcolor;
}

.main-nav__list {
  width: 320px;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: block;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 1px;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 18px;
  list-style: none;
  text-align: center;
  box-shadow: 0 1px 0 0 @black-three, inset 0 1px 0 0 @white-15;
}

.main-nav__link {
  width: 146px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
