.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: @mobile-width;
  margin-bottom: 1px;
  box-sizing: border-box;
  padding-top: 19px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 24px;
  background-color: @bg-color;
  box-shadow: 0 1px 0 0 @black-three;
}

.main-header__logo {
  color: @primary-color;
}

.main-header__logo-image {
  display: block;
  width: 75px;
  height: 23px;

  &:hover path {
    fill: @contrast-color;
  }

  &:active path {
    fill: @primary-color;
    opacity: 0.3;
  }
}

.main-header__logo-image-tablet {
  display: none;
}

.main-header__logo-image-desktop {
  display: none;
}

.main-header__toggle-close {
  display: none;
  width: 24px;
  height: 24px;
  background-color: @bg-color;
  border: none;
  outline: none;

  &:hover path {
    fill: @contrast-color;
  }

  &:active path {
    opacity: 0.3;
  }
}

.main-header__toggle-open {
  display: none;
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover path {
    fill: @contrast-color;
  }

  &:active path {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    width: @tablet-width;
    box-sizing: border-box;
    padding-top: 26px;
    padding-bottom: 42px;
  }

  .main-header__logo-image {
    display: none;
  }

  .main-header__logo-image-tablet {
    display: block;
    width: 147px;
    height: 40px;

    &:hover path {
      fill: @contrast-color;
    }

    &:active path {
      fill: @primary-color;
      opacity: 0.3;
    }
  }

  .main-header__toggle-close {
    margin-top: 15px;
  }

  .main-header__toggle-open {
    margin-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: @desktop-width;
    padding-top: 27px;
    padding-bottom: 43px;
    padding-left: 130px;
    padding-right: 129px;
    background-color: @header-opacity-color;
    box-shadow: none;
  }

  .main-header__logo-image-tablet {
    display: none;
  }

  .main-header__logo-image-desktop {
    display: block;
    width: 147px;
    height: 40px;
  }
}
