.main-nav {
  background-color: @bgcolor;
}

.main-nav__list {
  width: @mobile-width;
  .list-reset();
}

.main-nav__item {
  display: block;
  width: @mobile-width;
  margin: 0 auto;
  margin-bottom: 1px;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  box-shadow: 0 1px 0 0 @black-three, inset 0 1px 0 0 @white-15;
}

.main-nav__link {
  width: 146px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: @primary-color;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    width: @tablet-width;
  }

  .main-nav__item {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    background-color: transparent;
  }

  .main-nav__list {
    position: absolute;
    top: 45px;
    left: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__item {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  .main-nav__link {
    display: block;
    width: auto;
    margin: 0;
    margin-right: 82px;
    padding: 0;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-transform: capitalize;
  }

  .main-nav__link--last {
    margin: 0;
    margin-right: 0;
    text-align: right;
  }
}
