.map {
  position: relative;
  display: block;
  width: @mobile-width;
  height: 645px;
  margin-top: -447px;
  background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 445px, 0 0;
  background-size: 320px auto, 320px auto;
  background-color: @bg-blue;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 640px auto;
  }
}

.map__marker {
  position: absolute;
  top: 540px;
  left: 142px;
  display: block;
  width: 36px;
  height: 35px;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: @tablet-width) {
  .map {
    position: relative;
    z-index: 1;
    display: block;
    width: @tablet-width;
    height: 721px;
    margin-top: -348px;
    background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0 346px, -20px 0;
    background-size: 660px auto, 700px auto;
    background-color: @bg-blue;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 1400px auto;
    }
  }

  .map__marker {
    position: absolute;
    top: 541px;
    left: 311px;
    display: block;
    width: 36px;
    height: 35px;
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @min-desktop-width) {
  .map {
    width: @desktop-width;
    height: 780px;
    margin-top: -277px;
    background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0 276px, 0 0;
    background-size: 1200px auto, 1200px auto;
    background-color: @bg-blue;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 2400px auto;
    }
  }

  .map__marker {
    position: absolute;
    top: 540px;
    left: 583px;
    display: block;
    width: 36px;
    height: 35px;
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
