@media (max-width: @mob-tab-width-only) {
  .modal-opened {
    .main-header__toggle-close-icon {
      display: block;
    }

    .main-header__toggle-open-icon {
      display: none;
    }

    .main-header__nav {
      position: relative;
      display: block;
    }
  }
}
