@media (max-width: @mob-tab-width-only) {
  .modal-nojs {
    .main-header__toggle-close {
      display: none;
    }

    .main-header__toggle-open {
      display: none;
    }

    .main-header__nav {
      position: relative;
    }
  }
}
