.page-header {
  display: block;
  background-color: @primary-color;
}

.page-header__wrapper {
  width: @mobile-width;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    width: @tablet-width;
  }
}

@media (max-width: @mob-tab-width-only) {
  .page-header--closed {
    .main-header__toggle-close {
      display: none;
    }

    .main-header__toggle-open {
      display: block;
    }

    .main-header__nav {
      display: none;
    }

    .main-header {
      position: relative;
      background-color: @header-opacity-color;
      box-shadow: none;
      z-index: 1;
    }
  }

  .page-header--opened {
    .main-header__toggle-close {
      display: block;
    }

    .main-header__toggle-open {
      display: none;
    }

    .main-header__nav {
      position: relative;
    }
  }

  .page-header--nojs {
    .main-header__toggle-close {
      display: none;
    }

    .main-header__toggle-open {
      display: none;
    }

    .main-header__nav {
      display: block;
    }
  }
}

@media (min-width: @min-desktop-width) {
  .page-header {
    position: relative;
    width: @desktop-width;
    margin: 0 auto;
    background-color: transparent;
    z-index: 1;
  }

  .page-header__wrapper {
    width: @desktop-width;
  }
}
