.progress {
  display: block;
  width: @mobile-width;
  margin: 0;
  margin-top: 22px;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: @bg-blue;
}

.progress__title {
  display: block;
  width: @mobile-width;
  margin: 0;
  box-sizing: border-box;
  padding-top: 41px;
  padding-left: 48px;
  padding-right: 51px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: @contrast-color;
  background-color: @bg-blue;
}

.progress__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 42px;
}

.progress__item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 52px;
}

.progress__input {
  .visually-hidden();
}

.progress__label {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 90px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: @text-color;
  user-select: none;
  cursor: pointer;
}

.progress__input--checkbox + .progress__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 20px;
  display: block;
  width: 35px;
  height: 35px;
  background-color: @primary-color;
  border: 2px solid @light-border-color;
  border-radius: 2px;
  cursor: pointer;
}

.progress__input--checkbox:hover + .progress__label::before {
  border: 2px solid @text-color;
}

.progress__input--checkbox:active + .progress__label::before {
  border: 2px solid @contrast-color;
}

.progress__input--checkbox:focus + .progress__label::before {
  border: 2px solid @contrast-color;
}

.progress__input--checkbox:disabled + .progress__label::before {
  border: 2px solid @light-border-color;
  opacity: 0.3;
}

.progress__input--checkbox:checked + .progress__label::before {
  background-image: url("../img/icon-input-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.progress__input--checkbox:checked:hover + .progress__label::before {
  border: 2px solid @text-color;
}

.progress__input--checkbox:checked:active + .progress__label::before {
  border: 2px solid @contrast-color;
}

.progress__input--checkbox:checked:focus + .progress__label::before {
  border: 2px solid @contrast-color;
}

.progress__input--checkbox:checked:disabled + .progress__label::before {
  border: 2px solid @light-border-color;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .progress {
    width: 616px;
    margin: 0 auto;
    margin-top: 52px;
    padding: 0;
    border: 2px solid @light-border-color;
    background-color: @primary-color;
  }

  .progress__title {
    display: block;
    width: 400px;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    color: @contrast-color;
    text-align: center;
    text-transform: uppercase;
    background-color: @primary-color;
  }

  .progress__item {
    margin-bottom: 52px;
    margin-left: 37px;
  }

  .progress__label {
    padding-left: 78px;
  }
}

@media (min-width: @min-desktop-width) {
  .progress {
    width: 936px;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;
    padding-top: 44px;
    padding-left: 9px;
    padding-right: 57px;
    padding-bottom: 0;
  }

  .progress__list {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .progress__list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .progress__item {
    margin-bottom: 50px;
    margin-left: 28px;
  }

  .progress__item:nth-of-type(2) {
    margin-bottom: 60px;
  }
}
