.promo {
  position: relative;
  width: @mobile-width;
  height: 462px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 320px 462px;
}

.promo__title {
  display: block;
  width: 230px;
  height: 82px;
  margin: 0;
  margin-left: 48px;
  padding: 0;
  padding-top: 36px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  color: @primary-color;
}

.promo__title--index {
  display: none;
}

.promo__phone-image {
  position: absolute;
  top: 155px;
  left: 0;
  width: @mobile-width;
  height: 462px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 320px 314px;
}

@media (min-width: @tablet-width) {
  .promo {
    width: @tablet-width;
    height: 729px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 660px 729px;
  }

  .promo__title {
    display: block;
    width: 480px;
    height: 168px;
    margin: 0;
    margin-left: 97px;
    padding: 0;
    padding-top: 83px;
    font-size: 50px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    color: @primary-color;
  }

  .promo__title--index {
    display: block;
    width: 186px;
    height: 126px;
    margin: 0;
    margin-left: 78px;
    padding: 0;
    padding-top: 103px;
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    color: @primary-color;
  }

  .promo__phone-image {
    top: 185px;
    width: @tablet-width;
    height: 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 660px 545px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: @desktop-width;
    height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 1200px 853px;
  }

  .promo__title {
    width: 750px;
    height: 111px;
    margin-left: 232px;
    padding-top: 183px;
    font-size: 50px;
  }

  .promo__title--index {
    width: 231px;
    height: 157px;
    margin-left: 166px;
    padding-top: 231px;
    font-size: 50px;
  }

  .promo__phone-image {
    top: 208px;
    left: 200px;
    width: @desktop-width;
    height: 645px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 1050px 645px;
  }
}
