.promo {
  position: relative;
  width: 320px;
  height: 462px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 260px;
}

.promo__title {
  margin: 0;
  padding-top: 36px;
  padding-left: 46px;
  padding-right: 46px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  color: @primary-color;
}
