.system-list {
  display: flex;
  justify-content: space-between;
  width: 212px;
  margin-top: 32px;
  margin-bottom: 28px;
}

.system-list__item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
