.user-photo {
  width: 320px;
  background-color: @primary-color;
}

.user-photo__title {
  display: block;
  width: 244px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 56px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @text-color;
}
