.user-blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: @bg-blue;
}

.user-blog__image {
  width: 280px;
  height: 180px;
}

.user-blog__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  margin-bottom: 20px;
}

.user-blog__wrapper {
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 30px;
  padding-left: 17px;
  padding-right: 23px;
}

.user-blog__name-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.user-blog__name {
  display: block;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: @text-color;
  text-align: left;
}

.user-blog__time-ago {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.user-blog__text {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.user-blog__like-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 130px;
  margin: 0;
  margin-top: -10px;
  margin-bottom: -10px;
  padding: 0;
}

.user-blog__like-image {
  display: block;
  width: 13px;
  height: 12px;
  margin: 0;
  margin-right: 19px;
  padding: 0;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 12px;
}

.user-blog__like-text {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: @contrast-color;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .user-blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin: 0;
    margin-bottom: 20px;
    background-color: @bg-blue;
  }

  .user-blog__image {
    width: 300px;
    height: 300px;
  }

  .user-blog__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
  }

  .user-blog__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 300px;
    margin: 0;
    box-sizing: border-box;
    padding-top: 23px;
    padding-bottom: 33px;
    padding-left: 27px;
    padding-right: 23px;
  }

  .user-blog__like-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 240px;
  }

  .user-blog__like-image {
    margin: 0;
  }
}

@media (min-width: @min-desktop-width) {
  .user-blog {
    margin-bottom: 50px;
  }

  .user-blog__image {
    width: 300px;
    height: 400px;
  }
}
