@black-three: #000000;
@white-15: rgba(255, 255, 255, 0.15);
@bg-color: #2a3847;
@primary-color: #ffffff;
@bg-blue: #f2f2f2;
@contrast-color: #d22856;
@text-color: #283645;
@social-border: rgba(40, 54, 69, 0.1);
@social-border-active: rgba(40, 54, 69, 0.4);
@header-opacity-color: rgba(0, 0, 0, 0.3);
@form-button-color: #2aab6d;
@form-button-dark-color: #1c9b5e;
@light-border-color: #e5e5e5;
@mobile-width: 320px;
@tablet-width: 660px;
@min-desktop-width: 960px;
@mob-tab-width-only: 959px;
@desktop-width: 1200px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
